.nav-bar {
  background-color: #744253;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 5px;
}

#site-name {
  padding: 5px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product {
  text-align: center;
  padding: 10px;
}

img {
  width: 200px;
}

button {
  background-color: #c78283;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

footer {
  background-color: #b49286;
  text-align: center;
  padding: 10px;
}

@media (max-width: 600px) {
  .feature-container {
    flex-direction: column;
  }
}
